<h1>Artykuły</h1>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @articles.each do |article| %>
      <div class="border">
        <%= link_to "Czytaj", articles_show_url(article.id), class: 'btn btn-primary pull-right' %>
        <h3><%= article.title %></h3>
      </div>
    <% end %>
    <% if @user && @user.id == 1 %>
      <%= link_to "Dodaj artykuł", articles_new_url, class: 'btn btn-primary center-block', style: "margin-top: 45px" %>
    <%end %>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <%= will_paginate @posts %>
    <%#= will_paginate @articles , renderer: RemoteLinkPagination::LinkRenderer %>
  </div>
</div>