<h1>Nowy artykuł</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @article do |f| %>
      <p>Tytuł:</p>
      <%= f.text_field :title %>
      <p>Treść:</p>
      <%= f.trix_editor :content %>
      <%= f.submit "Dodaj artykuł", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>